<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365909934421-d95uu03v9eheilukgqsammf8t3naako4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365909934421-d95uu03v9eheilukgqsammf8t3naako4</string>
	<key>API_KEY</key>
	<string>AIzaSyAdpsxVrfsvqgkIlaiDy8cKZb6-IJOK_Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>365909934421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab06</string>
	<key>PROJECT_ID</key>
	<string>mobileapp124</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365909934421:ios:888d09e075d85cdb356fdc</string>
</dict>
</plist>